.vs/*
TimetableMaker.sln
*csproj
*/obj
*/bin
TimetableMakerDatabase/TimetableMakerDatabase.dbmdl
TimetableMakerDatabase/TimetableMakerDatabase.jfm
TimetableMakerDatabase/TimetableMakerDatabase.sqlproj
TimetableMakerDatabase/TimetableMakerDatabase.sqlproj.user
TimetableMakerApi/*.json
TimetableMakerDatabase/TimetableMakerApi.csproj
